#root {
    max-width: 1280px;
    margin: 0 auto;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.feeling-response {
    display: flex;
}

.feeling-resp-p {
    padding-top: 0.4rem;
}